#toastId{
    margin: 50px !important;
}
.go2072408551{
    padding: 20px !important;
    gap: 5px 15px !important;
    background-color: #144aa22a !important;
    color: #fff !important;
    border: 1px solid #ffffffb2 !important;
}
/* .go3958317564{
    padding: 20px !important;
    
} */
/* .go3958317564::after{
    margin-right: 20px !important;
    content: ;
} */