.bg-navbar {
  background-color: #e9efed;
}
.nav {
  padding: 13px 0 0;
  display: flex;
  align-items: center;
}
.nav ul {
  all: unset;
  list-style-type: none;
}

.nav ul .list-style {
  display: flex;
  margin: 0 20px;
  align-items: center;
}
.nav ul .list-style a h4 {
  font-weight: bold;
}
.nav ul .list-style a {
  color: black;
  text-decoration: none;
}
.nav ul .list-style:hover {
  color: gray;
  border-bottom: 2px solid #ffb91d;
}
.nav_left {
  display: flex;
  align-items: center;
  justify-content: end !important;
  height: 100%;
  gap: 20px;
}
.icon {
  border: 1px solid #1f6c66 !important;
  padding: 10px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  text-align: center !important;
  display: flex !important;
  margin: 0 10px;
}
.sign_in {
  border: 2px solid #1f6c66;
  padding: 10px 15px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
}
.sign_in:hover,
.icon:hover {
  background-color: #ffb91d !important;
  color: white !important;
  cursor: pointer !important;
  transition: all 0.4s !important;
}

@media screen and (max-width: 576px) {
  .nav_left {
    display: none;
  }
}
.list-title {
  margin: 5px 0 0 0;
}
.list-title a {
  text-decoration: none !important;
  color: black !important;
}
.nav_offcanvas ul {
  list-style-type: none;
}
.nav_offcanvas ul li {
  display: block;
  transition: all 0.3s ease;
  padding: 8px 0;
}
.nav_offcanvas ul li a {
  text-decoration: none;
  color: black;
}
.nav_offcanvas ul li a:hover {
  border-bottom: 2px solid #ffb91d;
}
.nav_offcanvas .sign_in {
  padding: 5px 20px;
}
/* searchBox */
.searchInput {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  border-bottom: 2px solid gray !important;
}
.searchInput:focus {
  outline: none;
}
.btn-close:focus {
  box-shadow: none !important;
}
.cartIcon {
  margin: 0 10px !important;
  position: relative;
}
.cartIcon span {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #041615;
  color: #fff;
  position: absolute;
  top: -8px;
  right: -8px;
}
.cartIcon:hover{
  background-color: #ffb91d !important;
  color: white !important;
  cursor: pointer !important;
  transition: all 0.4s !important;
}