* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Estedad";
  src: url("assets/fonts/Estedad-Regular.ttf");
}
body {
  font-family: "Estedad" !important;
}
.orange-bg {
  background-color: #ffb91d !important;
}
.gray-bg {
  background-color: #1f6c66 !important;
}
.dark-color {
  color: #121212 !important;
}
